* text=auto eol=lf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

/vendor export-ignore
/packages export-ignore
/.phpunit.cache export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/composer.lock export-ignore
